/kde-settings-4.6-10.tar.bz2
/kde-settings-plasma-rpm-20110927.tar.xz
/kde-settings-4.7-14.tar.xz
/kde-settings-4.8-1.tar.xz
/kde-settings-4.8-2.tar.xz
/kde-settings-4.8-3.tar.xz
/kde-settings-4.8-4.tar.xz
