# Requires SSH_AUTH_SOCK="$XDG_RUNTIME_DIR/ssh-agent.socket"
# set in environment, handled for plasma via
# /etc/xdg/plasma-workspace/env/ssh-agent.sh
[Unit]
Description=SSH key agent
ConditionEnvironment=!SSH_AGENT_PID
After=plasma-core.target

[Service]
Type=forking
Environment=SSH_AUTH_SOCK=%t/ssh-agent.socket
ExecStart=/usr/bin/ssh-agent -a $SSH_AUTH_SOCK
PassEnvironment=SSH_AGENT_PID
